/applicationContext-dao.xml
/applicationContext-dto.xml
/applicationContext-facade.xml
/applicationContext-jdbc.xml
/applicationContext-service.xml
/applicationContext.xml
/bibliotheque.dat
/ca/
/log4j.properties
