/bibliotheque.dat
/ca/
/log4j.properties
/applicationContext-jdbc.xml
/applicationContext-dto.xml
/applicationContextdao.xml
/applicationContext-dao.xml
/applicationContext-facade.xml
/applicationContext-service.xml
